version: "3"

services:
  nsqlookupd:
    image: nsqio/nsq
    command: /nsqlookupd
    ports:
      - "4160:4160"
      - "4161:4161"

  nsqd:
    image: nsqio/nsq
    command: /nsqd --lookupd-tcp-address=nsqlookupd:4160
    depends_on:
      - nsqlookupd
    ports:
      - "4150:4150"
      - "4151:4151"

  nsqadmin:
    image: nsqio/nsq
    command: /nsqadmin --lookupd-http-address=nsqlookupd:4161
    depends_on:
      - nsqlookupd
    ports:
      - "4171:4171"

  scala-stream-collector:
    image: snowplow-docker-registry.bintray.io/snowplow/scala-stream-collector-nsq:0.13.0
    command: [ "--config", "/snowplow/config/config.hocon" ]
    depends_on:
      - nsqd
    ports:
      - "80:80"
    volumes:
      - ./scala-stream-collector-config:/snowplow/config
    logging:
      options:
        max-size: 1M
        max-file: "10"
    deploy:
      resources:
        limits:
          memory: 1G
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
    environment:
      - "SP_JAVA_OPTS=-Xms512m -Xmx512m"

  stream-enrich:
    image: snowplow-docker-registry.bintray.io/snowplow/stream-enrich-nsq:0.16.0
    command: [
      "--config", "/snowplow/config/config.hocon",
      "--resolver", "file:/snowplow/config/resolver.json",
      "--enrichments", "file:/snowplow/config/enrichments",
      "--force-ip-lookups-download"
    ]
    depends_on:
      - scala-stream-collector
    volumes:
      - ./stream-enrich-config:/snowplow/config
    logging:
      options:
        max-size: 1M
        max-file: "10"
    deploy:
      resources:
        limits:
          memory: 1G
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
    environment:
      - "SP_JAVA_OPTS=-Xms512m -Xmx512m"
