AWS_SNOWPLOW_ACCESS_KEY=
AWS_SNOWPLOW_SECRET_KEY=
AWS_region_AWS=eu-west-1
AWS_log_AWS=s3://MY-collector-logs/emrlogs
AWS_S3_collector_AWS=s3://MYcollector-logs
AWS_processing_AWS=s3://MY-collector-logs/processing
AWS_archive_AWS=s3://MY-collector-archive/raw
AWS_enriched_good_AWS=s3://MY-collector-out/enriched/good
AWS_enriched_bad_AWS=s3://MY-collector-out/enriched/bad
AWS_enriched_errors_AWS=s3://MY-collector-errors/enriched
AWS_enriched_archive_AWS=s3://MY-collector-archive/enriched
AWS_shredded_good_AWS=s3://MY-collector-out/shredded/good
AWS_shredded_bad_AWS=s3://MY-collector-out/shredded/bad
AWS_shredded_errors_AWS=s3://MY-collector-errors/shredded
AWS_shredded_archive_AWS=s3://MY-collector-archive/shredded
EMR_EC2_DefaultRole_EMR=EMR_EC2_DefaultRole
EMR_DefaultRole_EMR=EMR_DefaultRole

AWS_placement_AWS=
AWS_ec2_subnet_id_AWS=

AWS_ec2_key_name_AWS=

LOG_LEVEL=DEBUG
#LOG_LEVEL=INFO
AWS_app_id_AWS= MYplow
AWS_collector_AWS=

IGLU_REPO_NAME=
IGLU_VENDOR_PREFIX=
IGLU_URL=
